<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.body{
    background-color: rgba(255, 72, 0, 0.96);
    display: flex;
}

ul li a i {
    font-size: 20px;
}
ul li a{ 
    display: block;
    display: flex; 
    /* flex-flow: row ; */
    margin: 5px;
    align-items: center;
    text-decoration: none;
    padding: 13px;
   
   
    
}
ul li a:hover{
background-color: rgb(185, 185, 179);
border-radius: 13px;
}
.active{
    background-color: rgb(185, 185, 179); 
    border-radius: 13px; 
}
.img{
    display: flex;
    margin-left: 10px;
}
.img h1{
    margin-left: 30px;
}
ul li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  flex-shrink: 0;
}

ul li a h2 {
    margin-left: 30px;
}
ul{
    list-style: none;
    width: 100%;
  position: relative;
  height: 97%;
   
}
.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
   
}
.logout a  :hover{
  
   color: red;
    transition: 0.5s;
}
.logout a i{
    color: red;
}
.barside:hover{
    width: 260px;
    overflow: hidden;
    background-color: #2c1405;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    transition: 0.5s;
}

.barside{
    flex-shrink: 1;
    width: 60px;
    overflow: hidden;
    background-color: #452009;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
}

.content{
    width: 100%;
    margin: 10px;
}
.title{
    display: flex;
    background-color: #452009;
    border-radius: 15px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}
.titlecontent{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px;
}
.titlecontent #it1{
    background-image: url(../../public/images/excavator.jpg);
    background-size: cover;
}
.titlecontent #it2{
    background-image: url(../../public/images/building.png);
    background-size: cover;
}
.titlecontent #it3{
    background-image: url(../../public/images/construction.jpg);
    background-size: cover;
}
.titlecontent #it4{
    background-image: url(../../public/images/montreal.jpg);
    background-size: cover;
}
.titlecontent .box:hover{
    opacity: 0.9;
   cursor: pointer;
    transition: 0.5s;
}
.titlecontent .box{
    padding: 10px;
    background-color:#452009;
    flex-basis: 150px;
    height: 150px;
    flex-grow: 1;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.titlecontent .box a i{
    font-size: xx-large;
}
.titlecontent .box a{
    text-decoration: none;
}
.titlecontent .box h1{
   align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titlecontent .box a #update:hover{
color: greenyellow;
transition: 0.5s;
}
.fa-regular:hover{
    color: rgb(255, 0, 0);
transition: 0.5s;
}
=======
body{
    background-color: aqua;
}
>>>>>>> e40565100f768c0f09bbaebb121e310a6bbea0f0
